/* Clink Persian style for countdown page */

/* Defined new Persian fonts */

@font-face {
    font-family: "aryan-themes-com-WYekan-Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/aryan-themes-com-YekanWeb-Bold.woff") format("woff");
}


body{
	font-family: "tahoma";
}

.clink-box{
	font-family: "aryan-themes-com-WYekan-Bold";
}

.aryan-themes{
	font-family: "aryan-themes-com-WYekan-Bold";
}